header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.navbar{
  list-style-type: none;
}

.navbar-item{
  display: inline-block;
  padding: 20px 12px;
  &:last-child{
    padding-right: 0;
  }
}

.brianbanton{
  display: inline-block;
  padding: 20px 20px 20px 0;
}

.navbar-item a{ display: inline-block; }