
<div class="container index_page">
<h1>Listing projects</h1>
  <div class="row">
      <ul>
        <% @projects.each  do |project| %>
          <%= link_to project_path(project) do %>
            <li class='col-md-3 col-sm-6'>
                <img src="<%= project.feature_img.url %>" alt="" class='img-repsonsive img'  />
             </li>
        <% end %>
        <% end %>
      </ul>
                
