<%= render 'layouts/navbar' %>

<div class="wrapper profile">
  <div class="grid grid--wide">
    <div class="grid__item one-third portable--one-whole">
      <div class="u-alignCenter">
        <h3>Recognition</h3>
        <div class="column-section">
          <h4>2014</h4>
          <hr>
          <ul>
            <li>Graphis Design Annual</li>
            <li>Advertising & Design Club of Canada</li>
          </ul>

          <h4>2013</h4>
          <hr>
          <ul>
            <li>Type Directors Club New York</li>
            <li>Communication Arts Typography</li>
            <li>Creative Quarterly</li>
          </ul>

          <h4>2012</h4>
          <hr>
          <ul>
            <li>Graphis New Talent Annual</li>
            <li>Advertising & Design Club of Canada</li>
            <li>Coupe Magazine</li>
          </ul>

          <h4>2011</h4>
          <hr>
          <ul>
            <li>Art Directors Club New York</li>
            <li>I.D. Annual Design Review</li>
            <li>Adobe Design Achievement Awards</li>
            <li>Advertising & Design Club of Canada</li>
            <li>Creative Quarterly Magazine</li>
            <li>Applied Arts Magazine</li>
          </ul>

          <h4>2010</h4>
          <hr>
          <ul>
            <li>Applied Arts Magazine</li>
          </ul>

          <h4>2009</h4>
          <hr>
          <ul>
            <li>Coupe Magazine</li>
            <li>Applied Arts Magazine</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid__item one-third portable--one-whole">
      <div class="u-alignCenter">
        <h3>About</h3>
        <div class="column-section">
          <p>Since receiving his Bachelor of Design from OCAD University in 2006, Brian has drawn upon his interdisciplinary nature to develop a portfolio of award-winning print, branding, three-dimensional, and motion-based projects.</p>
          <p>Working with some of Toronto’s top creative directors, he has had the opportunity to produce projects for clients within the corporate, non-profit, and cultural sectors.</p>
          <p>His work has been recognized by prestigious international design organizations, exhibited across North America and Asia, and published widely.</p>
        </div>

        <h3>Exhibitions</h3>
        <div class="column-section">
          <h4>2014</h4>
          <hr>
          <ul>
            <li>Stereotype: New Directions in Typography</li>
            <li class="light">Boston Society of Architechs</li>
            <li class="light">Boston, MT</li>
          </ul>

          <h4>2013</h4>
          <hr>
          <ul>
            <li>TDC NY Traveling Exhibition</li>
            <li class="light">Various Locations</li>
          </ul>

          <h4>2011</h4>
          <hr>
          <ul>
            <li>ADC NY Traveling Exhibition</li>
            <li class="light u-spacer15">Various Locations</li>
            <li>Taipei World Design Expo</li>
            <li class="light">Taipei</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="grid__item one-third portable--one-whole">
      <div class="u-alignCenter">
        <h3>Work in Print</h3>
        <div class="column-section">
          <h4>2013</h4>
          <hr>
          <ul>
            <li>Brand! Vol. 5</li>
            <li class="light">ooogo Limited</li>
          </ul>

          <h4>2012</h4>
          <hr>
          <ul>
            <li>Typoholic</li>
            <li class="light u-spacer10">Viction:ary</li>
            <li>Choi's Gallery Vol. 19</li>
            <li class="light u-spacer10">Chois Publishing Inc.</li>
            <li>Art in Book</li>
            <li class="light u-spacer10">SendPoint Publishing</li>
            <li>How to use Type</li>
            <li class="light u-spacer10">Laurence King</li>
          </ul>

          <h4>2011</h4>
          <hr>
          <ul>
            <li>Type Player 2</li>
            <li class="light u-spacer10">Sandu</li>
            <li>Type Image</li>
            <li class="light u-spacer10">Art Power</li>
          </ul>

          <h4>2010</h4>
          <hr>
          <ul>
            <li>Typography Today</li>
            <li class="light">Gingko Press</li>
          </ul>

        </div>
      </div>
    </div>

  </div>

  <div class="profile-footer u-spacer80">
    <p><span class="email"><a href="mailto:brian@brianbanton.com">brian [at] brianbanton [dot] com</a></span> © Brian Banton 2014</p>
  </div>

</div>