<footer>
  <nav>
    <ul class="navbar u-alignCenter">
      <li class="navbar-item">C Brian Banton</li>
      <li class="navbar-item">
        <a href="#">brian@brianbanton.com</a>
      </li>
      <li class="navbar-item">
        <a href="#">Twitter</a>
      </li>
      <li class="navbar-item">
        <a href="#">Tumblr</a>
      </li>
    </ul>
  </nav>
</footer>