<header>
  <nav>
    <ul class="navbar u-alignCenter">
      <li class="navbar-item">
        <a href="#">Brian Banton</a>
      </li>
      <li class="navbar-item">
        <a href="#">Work</a>
      </li>
      <li class="navbar-item">
        <a href="#">Profile</a>
      </li>
      <li class="navbar-item">
        <a href="#">Contact</a>
      </li>
      <li class="navbar-item">
        <a href="#">Customize</a>
      </li>
    </ul>
  </nav>
</header>

