<header>
  <div class="wrapper">
    <div class="grid u-alignCenter">
      <div class="grid__item one-quarter">
        <div class="u-alignLeft">
          <div class="brianbanton">
            <%= link_to 'Brian Banton', root_path %>
          </div>
        </div>
      </div>

      <div class="grid__item three-quarters">
        <ul class="navbar u-alignRight">
          <li class="navbar-item">
            <% if controller.controller_name == "profile" %>
              <%= link_to 'Work', root_path %>
            <% else %>
              <a data-scroll href="#work">Work</a>
            <% end %>
          </li>
          <li class="navbar-item">
            <%= link_to 'Profile', profile_index_path %>
          </li>
          <li class="navbar-item">
            <a href="https://www.linkedin.com/pub/brian-banton/2/160/351" target="_blank">LinkedIn</a>
          </li>
          <li class="navbar-item">
            <a href="http://finnegan-appelbautum.tumblr.com" target="_blank">Sketchbook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

