<header>
  <div class="wrapper">
    <div class="grid u-alignCenter">
      <div class="grid__item one-quarter">
        <div class="u-alignLeft">
          <div class="brianbanton">
            <%= link_to 'Brian Banton', root_path %>
          </div>
        </div>
      </div>

      <div class="grid__item three-quarters">
        <ul class="navbar u-alignRight">
          <li class="navbar-item">
            <a data-scroll href="#work">Work</a>
          </li>
          <li class="navbar-item">
            <a href="#">Profile</a>
          </li>
          <li class="navbar-item">
            <a href="PUT-HIS-LINK-HERE">LinkedIn</a>
          </li>
          <li class="navbar-item">
            <a href="PUT-HIS-LINK-HERE">Behance</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

